In [2]:
import pandas as pd
import sqlite3

In [3]:
#QUERY
sql = "SELECT name from sqlite_master where type = 'table'"

In [4]:
#Conexion
con = sqlite3.connect("C:/Users/layla/Escritorio/Fundamentos de ETL con Python/Codigos y Notebooks/8. Ingesta de Datos desde Bases de Datos/nba_salary.sqlite")

In [5]:
#Creamos el df
df = pd.read_sql_query(sql,con)

In [6]:
print(df)

                    name
0  NBA_season1718_salary
1          Seasons_Stats

In [7]:
df_nba = pd.read_sql_query("SELECT * from NBA_season1718_salary",con)
print(df_nba)

        X1          Player   Tm  season17_18
0      1.0   Stephen Curry  GSW   34682550.0
1      2.0    LeBron James  CLE   33285709.0
2      3.0    Paul Millsap  DEN   31269231.0
3      4.0  Gordon Hayward  BOS   29727900.0
4      5.0   Blake Griffin  DET   29512900.0
..     ...             ...  ...          ...
568  569.0      Quinn Cook  NOP      25000.0
569  570.0   Chris Johnson  HOU      25000.0
570  571.0      Beno Udrih  DET      25000.0
571  572.0   Joel Bolomboy  MIL      22248.0
572  573.0    Jarell Eddie  CHI      17224.0

[573 rows x 4 columns]

In [8]:
#SQLAlchemy!
import sqlalchemy as db

In [10]:
#Conexion
engine = db.create_engine('sqlite:///C:/Users/layla/Escritorio/Fundamentos de ETL con Python/Codigos y Notebooks/8. Ingesta de Datos desde Bases de Datos/nba_salary.sqlite')
connection = engine.connect()

In [11]:
import pandas as pd
df_nba_sqlalchemy = pd.read_sql_query("SELECT * from Seasons_Stats",connection)
print(df_nba_sqlalchemy)

            X1    Year             Player  Pos   Age   Tm     G   GS      MP  \
0          0.0  1950.0    Curly Armstrong  G-F  31.0  FTW  63.0  NaN     NaN
1          1.0  1950.0       Cliff Barker   SG  29.0  INO  49.0  NaN     NaN
2          2.0  1950.0      Leo Barnhorst   SF  25.0  CHS  67.0  NaN     NaN
3          3.0  1950.0         Ed Bartels    F  24.0  TOT  15.0  NaN     NaN
4          4.0  1950.0         Ed Bartels    F  24.0  DNN  13.0  NaN     NaN
...        ...     ...                ...  ...   ...  ...   ...  ...     ...
24686  24686.0  2017.0        Cody Zeller   PF  24.0  CHO  62.0  NaN  1725.0
24687  24687.0  2017.0       Tyler Zeller    C  27.0  BOS  51.0  NaN   525.0
24688  24688.0  2017.0  Stephen Zimmerman    C  20.0  ORL  19.0  0.0   108.0
24689  24689.0  2017.0        Paul Zipser   SF  22.0  CHI  44.0  NaN   843.0
24690  24690.0  2017.0        Ivica Zubac    C  19.0  LAL  38.0  NaN   609.0

        PER  ...    FT%  ORB  DRB    TRB    AST  STL  BLK  TOV     PF    PTS
0       NaN  ...  0.705  NaN  NaN    NaN  176.0  NaN  NaN  NaN  217.0  458.0
1       NaN  ...  0.708  NaN  NaN    NaN  109.0  NaN  NaN  NaN   99.0  279.0
2       NaN  ...  0.698  NaN  NaN    NaN  140.0  NaN  NaN  NaN  192.0  438.0
3       NaN  ...  0.559  NaN  NaN    NaN   20.0  NaN  NaN  NaN   29.0   63.0
4       NaN  ...  0.548  NaN  NaN    NaN   20.0  NaN  NaN  NaN   27.0   59.0
...     ...  ...    ...  ...  ...    ...    ...  ...  ...  ...    ...    ...
24686  16.7  ...  0.679  NaN  NaN  405.0   99.0  NaN  NaN  NaN  189.0  639.0
24687  13.0  ...  0.564  NaN  NaN  124.0   42.0  NaN  NaN  NaN   61.0  178.0
24688   7.3  ...  0.600  NaN  NaN   35.0    4.0  NaN  NaN  NaN   17.0   23.0
24689   6.9  ...  0.775  NaN  NaN  125.0   36.0  NaN  NaN  NaN   78.0  240.0
24690  17.0  ...  0.653  NaN  NaN  159.0   30.0  NaN  NaN  NaN   66.0  284.0

[24691 rows x 53 columns]

In [12]:
#Consultas!
df_Curly = pd.read_sql_query("SELECT * from Seasons_Stats where Player = 'Curly Armstrong'",connection)

In [13]:
df_Curly

,X1,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0.0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,None,None,None,...,0.705,None,None,NaN,176.0,None,None,None,217.0,458.0
1,314.0,1951.0,Curly Armstrong,G-F,32.0,FTW,38.0,None,None,None,...,0.644,None,None,89.0,77.0,None,None,None,97.0,202.0

In [14]:
prom_PTS = df_nba_sqlalchemy['PTS'].mean() 
prom_PTS

np.float64(510.1163499025341)