# Repaso de Pandas: Estructuras de datos - Series y DataFrames

## Introducción a Pandas
Pandas es una librería en Python diseñada para la manipulación y análisis de datos estructurados. En esta clase repasaremos las dos estructuras de datos fundamentales en Pandas: **Series** y **DataFrames**.

### Estructura de una Serie en Pandas
Una Serie es una estructura unidimensional, similar a una lista o un array de NumPy

In [2]:
import pandas as pd 

# Crear una Serie a partir de una lista
serie = pd.Series([10, 20, 30, 40, 50])

# Mostrar la Serie
print("Serie:")
print(serie)

# Crear una Serie con índices personalizados
serie_con_indices = pd.Series([10, 20, 30, 40, 50], index=["a", "b", "c", "d", "e"])

# Mostrar la Serie con índices personalizados
print("\nSerie con índices personalizados:")
print(serie_con_indices)

# Acceder a un valor por índice
print("\nAcceder al valor con índice 'c':")
print(serie_con_indices["c"])

# Realizar operaciones aritméticas con Series
print("\nSuma de 5 a cada elemento de la Serie:")
print(serie + 5)

# Acceder a un rango de valores (por índice)
print("\nAcceder a un rango de valores usando índices:")
print(serie_con_indices[["b", "c", "d"]])

Serie:
0    10
1    20
2    30
3    40
4    50
dtype: int64

Serie con índices personalizados:
a    10
b    20
c    30
d    40
e    50
dtype: int64

Acceder al valor con índice 'c':
30

Suma de 5 a cada elemento de la Serie:
0    15
1    25
2    35
3    45
4    55
dtype: int64

Acceder a un rango de valores usando índices:
b    20
c    30
d    40
dtype: int64

### Estructura de un DataFrame en Pandas
Un DataFrame es una estructura bidimensional (una tabla) que puede contener múltiples columnas de diferentes tipos de datos.

In [4]:
import pandas as pd 

# Crear un DataFrame a partir de un diccionario
datos = {
    "Nombre": ["Ana", "Luis", "Pedro", "Maria", "Juan"],
    "Edad": [23, 30, 35, 40, 25],
    "Ciudad": ["Madrid", "Barcelona", "Valencia", "Sevilla", "Granada"]
}

df = pd.DataFrame(datos)

# Mostrar el DataFrame
print("\nDataFrame:")
print(df)

# Acceder a una columna del DataFrame
print("\nColumna 'Edad':")
print(df["Edad"])

# Acceder a una fila por su índice (por posición)
print("\nFila 2 (por posición):")
print(df.iloc[2])

# Acceder a una fila por su índice de etiqueta
print("\nFila con índice 3 (por etiqueta):")
print(df.loc[3])

# Filtrar filas con una condición (mayores de 30 años)
print("\nFiltrar personas mayores de 30 años:")
print(df[df["Edad"] > 30])

# Crear una nueva columna en el DataFrame
df["Salario"] = [50000, 60000, 70000, 80000, 55000]
print("\nDataFrame con nueva columna 'Salario':")
print(df)

# Realizar operaciones en varias columnas (ejemplo: calcular el salario en 10 años)
df["Salario Futuro"] = df["Salario"] * 1.1  # Aumentamos un 10% al salario
print("\nDataFrame con 'Salario Futuro':")
print(df)

DataFrame:
  Nombre  Edad     Ciudad
0    Ana    23     Madrid
1   Luis    30  Barcelona
2  Pedro    35   Valencia
3  Maria    40    Sevilla
4   Juan    25    Granada

Columna 'Edad':
0    23
1    30
2    35
3    40
4    25
Name: Edad, dtype: int64

Fila 2 (por posición):
Nombre       Pedro
Edad            35
Ciudad    Valencia
Name: 2, dtype: object

Fila con índice 3 (por etiqueta):
Nombre      Maria
Edad           40
Ciudad    Sevilla
Name: 3, dtype: object

Filtrar personas mayores de 30 años:
  Nombre  Edad    Ciudad
2  Pedro    35  Valencia
3  Maria    40   Sevilla

DataFrame con nueva columna 'Salario':
  Nombre  Edad     Ciudad  Salario
0    Ana    23     Madrid    50000
1   Luis    30  Barcelona    60000
2  Pedro    35   Valencia    70000
3  Maria    40    Sevilla    80000
4   Juan    25    Granada    55000

DataFrame con 'Salario Futuro':
  Nombre  Edad     Ciudad  Salario  Salario Futuro
0    Ana    23     Madrid    50000         55000.0
1   Luis    30  Barcelona    60000         66000.0
2  Pedro    35   Valencia    70000         77000.0
3  Maria    40    Sevilla    80000         88000.0
4   Juan    25    Granada    55000         60500.0

###  Ejercicios prácticos

Ejercicio 1: Crear una Serie con los valores [100, 200, 300, 400, 500] y realizar las siguientes operaciones:
 1. Sumar 10 a cada elemento.
 2. Acceder al tercer valor usando el índice.

In [6]:
# Solución del Ejercicio 1:
serie_ejercicio1 = pd.Series([100, 200, 300, 400, 500])
print("\nEjercicio 1 - Serie:")
print(serie_ejercicio1)

Ejercicio 1 - Serie:
0    100
1    200
2    300
3    400
4    500
dtype: int64

In [8]:
# Sumar 10 a cada elemento
print("\nSuma de 10 a cada elemento de la Serie:")
print(serie_ejercicio1 + 10)

# Acceder al tercer valor usando el índice
print("\nAcceder al tercer valor de la Serie (índice 2):")
print(serie_ejercicio1[2])

Suma de 10 a cada elemento de la Serie:
0    110
1    210
2    310
3    410
4    510
dtype: int64

Acceder al tercer valor de la Serie (índice 2):
300

Ejercicio 2: Crear un DataFrame con tres columnas: "Producto", "Precio", "Cantidad". Luego:
  1. Filtrar los productos cuyo precio sea mayor a 50.
  2. Crear una nueva columna llamada "Total", que sea el resultado de multiplicar el precio por la cantidad.

In [10]:
# Solución del Ejercicio 2:
df_ejercicio2 = pd.DataFrame({
    "Producto": ["Producto A", "Producto B", "Producto C", "Producto D", "Producto E"],
    "Precio": [30, 60, 45, 80, 20],
    "Cantidad": [5, 2, 8, 3, 10]
})

print("\nEjercicio 2 - DataFrame de productos:")
print(df_ejercicio2)

# Filtrar productos cuyo precio sea mayor a 50
print("\nFiltrar productos con precio mayor a 50:")
print(df_ejercicio2[df_ejercicio2["Precio"] > 50])

# Crear una nueva columna 'Total' (Precio * Cantidad)
df_ejercicio2["Total"] = df_ejercicio2["Precio"] * df_ejercicio2["Cantidad"]
print("\nDataFrame con la nueva columna 'Total':")
print(df_ejercicio2)

Ejercicio 2 - DataFrame de productos:
     Producto  Precio  Cantidad
0  Producto A      30         5
1  Producto B      60         2
2  Producto C      45         8
3  Producto D      80         3
4  Producto E      20        10

Filtrar productos con precio mayor a 50:
     Producto  Precio  Cantidad
1  Producto B      60         2
3  Producto D      80         3

DataFrame con la nueva columna 'Total':
     Producto  Precio  Cantidad  Total
0  Producto A      30         5    150
1  Producto B      60         2    120
2  Producto C      45         8    360
3  Producto D      80         3    240
4  Producto E      20        10    200